@use '../../variables';

.recommendations-container {
  position: relative;
  //min-height: 70vh;
  height: calc(100vh - 64px);
  @include variables.centered-column;
  justify-content: flex-start;

  .user-stats-container {
    text-align: center;
    color: black;
    margin-top: auto;
    height: 1.75rem;

    @media (min-width: 768px) {
      margin-top: 3rem;
    }

  }
}