@use '../../variables';

.recommendations-container {
  position: relative;
  //min-height: 70vh;
  height: calc(100vh - 64px);
  @include variables.centered-column;
  justify-content: flex-start;

  .user-stats-container {
    text-align: center;
    color: black;
    height: 1.75rem;
    margin-top: 0.5rem;

    @media (min-width: 768px) {
      margin-top: 1rem;
    }

    // for older screens with have more width and less height
    @media (max-height: 750px) {
      display: none;
    }

  }

  .profile-card-container {
    margin-top: 0.5rem;

    @screen (max-width: 768px) {
      margin-top: 0;
    }
  }

  .match-buttons-container {
    width: 18rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: variables.$default-button-shadow;
    //padding: 0 0.75rem;
    position: absolute;
    bottom: 4.25rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease-in-out;

    // for older screens with have more width and less height
    @media (max-height: 700px) {
      bottom: 1rem !important;
    }

    &:has(.swiping) {
      padding: 0;
    }

    &.default {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &.mobile-buttons {
      display: none;

      @media (max-width: 768px) {
        display: flex
      }
    }

    &:has(.dislike-button.hidden) {
      justify-content: flex-end;
    }

    @media (max-width: 600px) {
      bottom: 2rem;
    }

    .like-button, .dislike-button {
      height: 3rem;
      width: 3rem;
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 0.75rem;
      padding: 0;
      transition: all 0.2s ease-in;

      //&[data-swipe-progress] {
      //  width: calc(4rem + (var(--swipe-progress) * 100px));
      //  height: calc(4rem - 2px);
      //}

      &.hidden {
        display: none;
      }

      &.swiping {
        //scale: 1.3;
        //height: calc(4rem - 2px);
        //height: auto;
        //max-height: calc(4rem - 2px);
        //min-height: 3rem;
        //width: calc(4rem + 15px);
        width: 4rem;
        border: none;
        margin: 0;

      }

      .arrow {
        display: none;
        color: grey;
        width: 1.5rem;
        height: 1.5rem;

        &.hidden {
          display: none;
        }

        @media (max-width: 768px) {
          position: absolute;
          display: block;
        }

        &.swipe-left {
          left: -1.75rem;
        }

        &.swipe-right {
          right: -1.75rem;
        }
      }
    }

    .like-button {
      background-color: variables.$button-green;
      padding-left: 5px;

    }

    .dislike-button {
      background-color: variables.$button-red;

      //#svg-dislike {
      //  color: white;
      //  //width: 70%;
      //  //height: 70%;
      //  height: 2.5rem;
      //  width: 2.5rem;
      //}
    }

    @media (min-width: 769px) {
      &:has(.like-button:hover) {
        background-color: variables.$button-green;
        box-shadow: variables.$upper-inset-shadow-hover;

        .dislike-button {
          opacity: 0;
          visibility: hidden;
        }

        .like-button {
          border: none;
          box-shadow: none;
          width: 100%;
          position: relative;

          svg {
            position: absolute;
            right: 30%;
            top: 20%;
            scale: 1.3;
          }
        }
      }

      &:has(.dislike-button:hover) {
        background-color: variables.$button-red;
        box-shadow: variables.$upper-inset-shadow-hover;

        .like-button {
          opacity: 0;
          visibility: hidden;
        }

        .dislike-button {
          border: none;
          box-shadow: none;
          width: 100%;
          position: relative;

          svg {
            position: absolute;
            left: 25%;
            top: 15%;
            scale: 1.3;
          }
        }
      }
    }
  }

  .user-stats-container {
    //height: 1rem;
  }
}