@use 'variables';
// base
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  @media (max-width: 440px) {
	touch-action: pan-x pan-y;
  }
}

#root {
  min-height: 100%;
  width: 100%;
  //display: flex;
  //flex-direction: column;
}

html, body {
  //min-height: 100%;
  height: 100vh;
  width: 100%;
  background: variables.$background-gradient fixed;
  background-size: cover; // Makes sure it stretches
  // hide overflow by default
  overflow-x: hidden;
  overflow-y: hidden;
}

.api-error {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

// forms
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 25.25rem;
  height: 36.25rem;
  gap: 0.15rem;
  @media (max-width: 768px) {
	width: 90%;
  }

  .line {
	width: 100%;
  }

  label {
	width: 100%;
	font-size: 0.875rem;
  }

  input[type='number'] {
	appearance: textfield; /* Removes default arrows */
	-moz-appearance: textfield; /* Removes arrows in Firefox */
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
	appearance: none; /* Removes arrows in WebKit browsers */
	margin: 0;
  }

  input, textarea {
	width: 100%;
	border-radius: 10px;
	border: 1px solid variables.$input-border-grey;
	padding-left: 0.75rem;
	transition: all 0.1s ease;
	outline: none;

	&.not-react-select {
	  height: 2.375rem;
	}

	&:focus {
	  border-color: variables.$main-pink;
	  //box-shadow: variables.$input-shadow-focused;
	}

	&.focus-highlight:focus {
	  box-shadow: variables.$input-shadow-focused;
	}
  }
}

//links
a {
  text-decoration: none;
}

// buttons
button {
  color: white;
  height: 2rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow: variables.$default-button-shadow;

  &:hover {
	box-shadow: variables.$upper-inset-shadow-hover;
  }

  &:active {
	box-shadow: variables.$upper-inset-shadow-click;
  }

  &.wide {
	width: 100%;
  }

  &.narrow {
	width: 8.75rem;
  }

  &.small {
	font-weight: variables.$font-weight-small-button;
	font-size: variables.$font-size-small-button;
  }

  &.disabled {
	opacity: 0.7;
	cursor: not-allowed;
  }
}