@use '../../variables';

.dashboard-container {
  @include variables.whole-page;
  @include variables.centered-column;
  position: relative;
  height: calc(100vh - 64px);

  .extra-dashboard-container {
    @include variables.centered-column;
    margin-bottom: 1.5rem;
  }

  //@media (max-width: 768px) {
  //  .picture-bio-container {
  //    flex-direction: column;
  //  }
  //}


  .profile-card-container {
    padding-bottom: 1rem !important;
    margin-top: 1rem !important;
  }
}


