@use '../../variables';

.dashboard-container {
  @include variables.whole-page;
  @include variables.centered-column;
  position: relative;
  height: calc(100vh - 64px);

  .extra-dashboard-container {
    @include variables.centered-column;
    margin-bottom: 1.5rem;
  }

  //@media (max-width: 768px) {
  //  .picture-bio-container {
  //    flex-direction: column;
  //  }
  //}


  .profile-card-container {
    padding-bottom: 1rem !important;
    margin-top: 1rem !important;
  }

  .settings-content {
    height: 100%;
    width: 100% !important;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .forms-container {
      padding: 2rem 0 2rem 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      //overflow-x: hidden;
      //overflow-y: scroll;
    }

    .settings-buttons-container {
      height: 10%;
      width: 100% !important;
      margin: 0 !important;
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-around !important;
    }
  }


}


