@use '../../variables';


.dashboard-form, .recommendations-form {
  width: 90%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 0 1rem 0 1rem;


  .form-title {
    width: 100%;
    //text-align: center;

    &:has(> .recommendations-form) {
      margin-bottom: 3rem;
    }
  }



  .line {
    width: 100%;
    //height: fit-content;

    //label {
    //  height: 4rem;
    //}

    &.double {
      display: flex;
      flex-direction: row;
      width: 100%;
    }


    label {
      height: fit-content;
    }

  }

  .form-description-container {
    min-height: 9rem;
    padding-top: 0.5rem;
  }
}

.recommendations-form {
  @media (min-width: 768px) {
    justify-content: center;
  }
}