@use '../../variables';

.chats-container {
  @include variables.whole-page;
  @include variables.centered-column;

  .extra-chats-container {
    @include variables.glass-container;
    display: flex;
    flex-direction: row;
    width: 90vh;
    height: 80vh;


    .connections {

    }

    .chat {
      background: white;
      border-radius: 20px;
    }
  }

}
