@use '../../variables';

.nav-container-user {
  z-index: 5;
  height: 5rem;
  width: 100%;
  //background-color: rgba(0, 0, 0, 0.9);
  background-color: rgba(20, 20, 20, 0.9);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //padding-left: 120px;
  //padding-right: 120px;
  padding-left: clamp(0.2rem, 6vw, 8rem);
  padding-right: clamp(0.2rem, 6vw, 8rem);

  &.default {
    display: flex;
    position: sticky;
    top: 0;
  }

  &.mobile {
    display: none;
  }

  @media (max-width: 768px) {
    &.default {
      display: none; // Hide on small screens
    }

    &.mobile {
      height: 4rem;
      display: flex; // Show mobile nav
      position: fixed;  // Make it stick to the bottom
      bottom: 0;
      left: 0;
      width: 100%;
      //height: 4rem;
      justify-content: center;
      align-items: center;
    }
  }

  .profile-container {
    display: flex;
    flex-direction: row;
    width: 10.625rem;
    align-items: center;

    @media (max-width: 768px) {
      width: fit-content;
    }

    .profile-link {
      gap: 1rem;
      display: flex;
      justify-content: center; /* Centers horizontally */
      align-items: center; /* Centers vertically */
      text-align: center;
      color: white;
      text-decoration: none;
      height: 100%; /* Ensures it takes full height */

      &:hover, &.current, &:hover.profile-picture {
        color: variables.$main-pink;

        .profile-picture {
          border: 1px solid variables.$main-pink;
        }

      }

    }

    .profile-picture {
      width: 3.75rem;
      height: 3.75rem;;
      text-align: center;
      border-radius: 50%;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: top;

      @media (max-width: 768px) {
        width: 3rem;
        height: 3rem;
      }

    }
  }

  .links-container {
    display: flex;
    flex-direction: row;
    width: 37.85rem;
    //justify-content: space-between;
    gap: clamp(1rem, -2.393rem + 9.048vw, 5.75rem);
    justify-content: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-weight: 600;

    button.logout {
      all: unset;
      color: white;
    }

    .connections {
      position: relative;
    }

    .connections::after {
      content: attr(data-type-reqnum);
      position: absolute;
      display: block;
      top: -10px;
      right: -20px;
      width: 1rem;
      background-color: transparent;
      color: variables.$main-pink-80;
    }


    @media (max-width: 768px) {
      justify-content: space-around;
      align-items: center;
      padding-left: 0;
      padding-right: 0;

      svg {
        width: 2.25rem;
        height: 2.25rem;
      }

    }

    //.chats {
    //  align-self: center;
    //}
    //
    //.recommendations {
    //  align-self: flex-end;
    //  text-align: right;
    //}

    a {
      text-decoration: none;
      color: white;

      &.current {
        color: variables.$main-pink;
      }

      &:hover,
      &:active,
      &:focus {
        color: variables.$main-pink;
      }

    }

  }

  .nav-buttons-container {
    border: 1px solid black;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    width: 9.5rem;
    height: 3.125rem;
    background-color: black;
    box-shadow: variables.$default-button-shadow;

    @media (max-width: 768px) {
      border: none;
      box-shadow: none;
      background-color: transparent;

    }

    &:has(.signup:hover),
    &:has(.login:hover) {
      box-shadow: none; // Remove shadow when either button is hovered
    }

    .logout-link {
      width: 100%;
    }


    .button {
      border: none;
      border-radius: 100px;
      padding: 0.625rem 0.625rem * 2;
      font-size: variables.$font-size-large-button;
      font-weight: variables.$font-weight-large-button;
      transition: all 0.1s ease;
      //text-overflow: ellipsis;
      //overflow: hidden;
      //white-space: nowrap;
      //position: absolute;

    }

    .logout {
      cursor: pointer;
      color: variables.$main-blue;
      background-color: white;
      //width: 9.5rem;
      height: 100%;
      width: 100%;
      z-index: 1;
      overflow: clip;
      //top: 50%; // Align the top edge of the button to the middle
      //transform: translateY(-50%); // Move the button up by half its height

      @media (max-width: 768px) {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        box-shadow: none;
        color: white;
        //background-color: rgba(255, 255, 255, 0.1);
        background-color: transparent;
        border-radius: 50%;
        width: 100%;

        svg {
          width: 2.5rem;
          height: 2.5rem;
        }

      }
    }

    .logout:hover {
      background-color: variables.$main-blue;
      color: white;
      z-index: 2;
      box-shadow: variables.$upper-inset-shadow-hover;

      @media (max-width: 768px) {
        background-color: transparent;
        box-shadow: none;
      }
    }

    .logout:active {
      box-shadow: variables.$upper-inset-shadow-click;

      @media (max-width: 768px) {
        box-shadow: none;
        color: variables.$main-pink;
      }
    }

  }

}