@use '../../variables';

.nav-container-guest {
  z-index: 5;
  height: 5rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //padding-left: 120px;
  //padding-right: 120px;
  padding-left: clamp(0.2rem, 6vw, 8rem);
  padding-right: clamp(0.2rem, 6vw, 8rem);


  .logo-container {

    .nav-bar-logo {
      width: 11.75rem;
    }
  }

  .links-container {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    width: 25rem;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-weight: 600;

    a:focus, a:active, a:visited, a:link {
      color: black;
    }

    a:hover,
    {
      color: variables.$main-pink;
    }

  }

  .buttons-container {
    border: 1px solid black;
    border-radius: 100px;
    display: flex;
    width: 16rem;
    height: 3.125rem;
    background-color: white;
    box-shadow: variables.$default-button-shadow;
    position: relative;

    &:has(.signup:hover),
    &:has(.login:hover) {
      box-shadow: none; // Remove shadow when either button is hovered
    }


    button {
      border: none;
      padding: 0.625rem 0.625rem * 2;
      font-size: variables.$font-size-large-button;
      font-weight: variables.$font-weight-large-button;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
    }

    .signup {
      box-shadow: none;
      cursor: pointer;
      color: white;
      background-color: variables.$main-pink;
      width: 9.75rem;
      height: 100%;
      z-index: 2;
      left: 0;
      top: 50%; // Align the top edge of the button to the middle
      transform: translateY(-50%); // Move the button up by half its height
    }

    .signup:hover {
      width: 100%;
      box-shadow: variables.$upper-inset-shadow-hover;

      ~ .login {
        //display: none;
        //visibility: hidden; // Keeps the layout intact
        //opacity: 0;         // Smoothly fade it out
        //width: 0;
        //padding: 0;
      }

    }

    .signup:active {
      box-shadow: variables.$upper-inset-shadow-click;
    }

    .login {
      box-shadow: none;
      cursor: pointer;
      color: variables.$main-blue;
      background-color: white;
      width: 6.25rem;
      height: 100%;
      z-index: 1;
      right: 0;
      top: 50%; // Align the top edge of the button to the middle
      transform: translateY(-50%); // Move the button up by half its height
    }

    .login:hover {
      width: 100%;
      background-color: variables.$main-blue;
      color: white;
      z-index: 2;
      box-shadow: variables.$upper-inset-shadow-hover;

      ~ .signup {
        z-index: 1;
        box-shadow: none;
        //display: none;
        //visibility: hidden; // Keeps the layout intact
        //opacity: 0;         // Smoothly fade it out
        //width: 0;
        //padding: 0;
      }
    }

    .login:active {
      box-shadow: variables.$upper-inset-shadow-click;
    }

  }

}