@use '../../variables';

.about-container {
  @include variables.whole-page;
  @include variables.centered-column;

  .about-text {
    @include variables.centered-column;
    width: 70%;

    p {
      line-height: 2rem;
      margin-bottom: 1.5rem;
      width: 70%;
      font-size: 1.1rem;
    }

    .left {
      text-align: left;
      align-self: flex-start;
    }

    .right {
      text-align: right;
      align-self: flex-end;
    }

    .mid {
      margin-top: 1rem;
      text-align: center;
    }
  }

}


