@use '../../variables';

.about-container {
  @include variables.whole-page;
  @include variables.centered-column;
  position: relative;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    //color: variables.$main-pink;
    font-size: 3rem;
    margin-bottom: 2rem;
    transition: translate 0.5s ease-out;
    //animation: leftToRightColorChange 2s ease-in-out infinite ;

    @starting-style {
      opacity: 0;
      translate: 0 -120vw;
    }

    &.blinking-text {
      background: linear-gradient(to right, variables.$main-pink, variables.$main-blue, variables.$main-pink);
      background-size: 500% 100%;
      background-position: -400% 0;
      color: transparent;
      -webkit-background-clip: text;  /* Make the background visible on the text */
      animation: leftToRightColorChange 5s linear infinite;
    }
  }



  .background-image {
    position: absolute;
    filter: invert(100%);
    opacity: 0.2;

    &.one {
      top: 20%;
      right: 30%;

      @media (min-width: 768px) {
        right: 15%;
      }

    }

    &.two {
      bottom: 10%;
      left: 30%;

      @media (min-width: 768px) {
        left: 15%;
      }
    }
  }

  .about-text {
    @include variables.centered-column;
    width: 70%;

    p {
      line-height: 2rem;
      margin-bottom: 1.5rem;
      width: 70%;
      font-size: 1.1rem;
      transition: translate 0.5s ease-out;

      @media (max-width: 768px) {
        margin-bottom: 1rem;
        width: 100%;
        line-height: 1.25rem;
        font-size: 1rem;
      }
    }

    .left {
      text-align: left;
      align-self: flex-start;

      @starting-style {
        opacity: 0;
        translate: 120vw 0;
      }
    }

    .right {
      text-align: right;
      align-self: flex-end;

      @starting-style {
        opacity: 0;
        translate: -120vw 0;
      }
    }

    .mid {
      margin-top: 1rem;
      text-align: center;

      @starting-style {
        opacity: 0;
        translate: 0 120vw;
      }
    }
  }


  @keyframes leftToRightColorChange {
    0% {
      background-position: 200% 0;  /* Start the gradient off-screen */
    }
    50% {
      background-position: 0 0;  /* Move the gradient fully to the left */
    }
    100% {
      background-position: -200% 0;  /* Move the gradient back off-screen */
    }
  }

}


