@use '../../variables';

.login-container {
  @include variables.whole-page;
  @include variables.centered-column;
  //justify-items: center; // works as well now instead of flexbox
  //align-content: center;
  position: relative;

  .login-form {
    @extend .login-container; // same as .login-container
    justify-content: center;
    align-items: flex-start;
    width: 25.25rem;
    height: 36.25rem;
    gap: 1.2rem;

    h1 {
      font-size: variables.$font-size-h1;
      letter-spacing: 0.1rem;
    }

    h2 {
      font-size: variables.$font-size-h2;
    }

    .form-title {
      margin-bottom: 2.5rem;
    }



    label {
      width: 100%;
    }

    #label-password {
      display: flex;
      flex-direction: row;
    }


    .error-border {
      border-color: red;
      text-align: left;
    }

    .password-input {
      margin: 0;
    }

    #forgot-password {
      font-size: 0.85rem;
      text-decoration: none;
      color: variables.$main-blue;

      &:hover {
        color: variables.$main-blue-80;
      }

      &:active {
        color: variables.$main-blue-20;
      }

    }

    #remember-me-input {
      cursor: pointer;
      border-radius: 100px;
      font-size: 0.6rem;
      margin: 0;
      width: 1.25rem;
      height: 1.25rem;

      &:checked {
        accent-color: variables.$main-pink;
      }
    }

    #remember-me-label {
      font-size: 0.85rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 2rem;
    }

    .login-button {
      background-color: variables.$main-blue;
      border: 1px variables.$main-blue;

      &:hover {
        background-color: variables.$main-blue-80;
      }

      &:active {
        background-color: variables.$main-blue-20;
      }
    }
  }

  .error-message {
    color: red;
    text-align: center;
    height: 1rem;
    margin-top: 0.5rem;
  }

  .hidden {
    opacity: 0;
  }

  .visible {
    opacity: 100%;
  }

  #no-account-label {
    text-align: center;
    transition: 0.1s all ease;
    display: block;
    position: absolute;
    bottom: 3rem;

    a {
      color: variables.$main-pink;

      &:hover {
        color: variables.$main-pink-80;
      }

      &:active {
        color: variables.$main-pink-20;
      }

    }
  }
}