@use '../../variables';

.profile-card-container {
  @include variables.whole-page;
  @include variables.centered-column;
  @include variables.glass-container;
  width: 70%;
  max-width: 100rem;
  height: 75vh;
  margin-top: 3rem;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  transition: transform 0.75s 0.1s ease-in;
  padding-bottom: 2rem;
  position: relative;
  @media (max-width: 768px) {
	width: 80%;
  }
  @media (max-width: 440px) {
	width: 90%;
  }
  // Hover and active states for like/dislike buttons
  &:has(+ .match-buttons-container .like:hover) {
	border-color: variables.$button-green;
  }

  &:has(+ .match-buttons-container .dislike:hover) {
	border-color: variables.$button-red;
  }

  // Like/Dislike animation classes
  &.like-animation {
	filter: blur(2px);
	transform: translateX(200%);
	background-color: variables.$valid-green;
  }

  &.dislike-animation {
	filter: blur(2px);
	transform: translateX(-200%);
	background-color: variables.$error-red;
  }

  .picture-bio-container {
	width: 100%;
	height: 60%;
	//max-height: 60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	.picture-container {
	  align-items: center;
	  justify-content: center;
	  display: flex;
	  width: 100%;
	  height: auto;
	  max-width: 60%;
	  max-height: 100%;
	  aspect-ratio: 1/1;
	  box-sizing: border-box; // Ensure box-sizing is consistent
	  @media (max-width: 768px) {
		justify-content: flex-start;
	  }
	  @media (min-width: 769px) {
		max-width: 50%;
	  }

	  .extra-picture-container {
		width: auto;
		aspect-ratio: 1/1;
		display: flex;
		justify-content: center;
		align-items: center; // Align content centrally if necessary
		position: relative;
		box-sizing: border-box; // Ensure box-sizing is consistent
		border: 1px solid transparent;
		border-radius: 50%;
		@media (max-width: 768px) {
		  justify-content: center;
		  margin-right: 2rem;
		}

		img.profile-picture {
		  max-width: 70%;
		  max-height: 70%;
		  border-radius: 50%;
		  aspect-ratio: 1/1;
		  object-fit: cover;
		  object-position: top;
		  box-sizing: border-box; // Ensure box-sizing is consistent
		  @media (max-width: 768px) {
			max-width: 90%;
			max-height: 90%;
		  }
		}

		.music-link {
		  z-index: 5;
		  position: absolute;
		  bottom: 15%;
		  right: 0;
		  width: 3.5rem;
		  height: 3.5rem;
		  color: white;
		  font-size: 1rem;
		  text-align: center;
		  border-radius: 50%;
		  transition: all 0.1s ease-in-out;
		  transform-origin: center center;
		  @media (min-width: 768px) {
			bottom: 15%;
			right: 15%;
		  }

		  & > * {
			width: 100%;
			height: 100%;
		  }

		  &:hover {
			cursor: pointer;
			scale: 1.1;
		  }
		}
	  }
	}

	.bio-container {
	  width: 100%;
	  flex: 1;
	  justify-self: flex-end;
	  white-space: nowrap;
	  height: fit-content;
	  @media (min-width: 1700px) {
		margin-right: 5rem;
	  }

	  &.default {
		display: flex;
	  }

	  &.mobile {
		display: none;
	  }

	  @media (max-width: 786px) {
		&.default {
		  display: none; // Hide on small screens
		}
		&.mobile {
		  display: flex; // Show mobile nav
		  height: fit-content;
		}
	  }

	  table {
		width: 100%;
		height: 100%;
		border-collapse: collapse;
		table-layout: fixed;
		border-spacing: 0;
		overflow: clip;

		tbody {
		  tr {
			display: flex;
			flex-wrap: wrap;

			th {
			  border-bottom: 1px solid variables.$main-pink;
			  width: 100%;
			  text-align: left;
			  padding-left: 1rem;
			  @media (max-width: 768px) {
				font-size: 0.8rem;
			  }
			}

			td {
			  padding-bottom: 0.5rem;
			  width: 100%;
			  font-size: 0.9rem;
			  white-space: wrap;
			  @media (max-width: 768px) {
				font-size: 0.75rem;
			  }
			}
		  }
		}
	  }
	}
  }

  .description-container {
	text-align: center;
	flex: 1;
	margin-top: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	width: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
	  display: none;
	}

	@media (max-width: 440px) {
	  font-size: 0.8rem;
	}
	@media (min-width: 1200px) {
	  margin-top: 3rem;
	}
  }

  .name-container {
	text-align: center;
	color: variables.$main-blue;
	height: fit-content;
	margin-bottom: 1rem;
	@media (max-width: 768px) {
	  font-size: 0.9rem;
	}

	.name {
	  font-size: 1.5rem;
	  @media (max-width: 768px) {
		font-size: 1rem;
	  }
	}
  }
}

.no-matches {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  text-align: center;
  font-size: 1.3rem;

  .change-preferences {
	width: 10rem;
	padding: 0.5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	place-items: center;
	background-color: variables.$main-pink;
	border: none;
  }
}

// Endless spinner animation
.endless {
  &::before, &::after {
	animation: rotate 6s var(--timing) infinite, transformEffect 2s 6s forwards !important;
  }
}

// smalls screen Media Queries
@media (max-width: 600px) {
  //.recommendations-container, .dashboard-container {
  .profile-card-container {
	height: 80vh;
	margin-top: 2.5rem;
	padding-top: 1rem;
	padding-bottom: 2.25rem;
	justify-content: flex-start;

	.picture-bio-container {
	  flex-direction: column;
	  height: 65%;

	  .picture-container {
		min-height: 45%;
		width: auto;

		.extra-picture-container {
		  margin: 0 0 0.5rem;

		  img {
			max-height: 80%;
		  }

		  .music-link {
			bottom: 10%;
			right: -10%;
		  }
		}
	  }

	  .bio-container {
		table {
		  tbody {
			tr {
			  td {
				padding-bottom: 0.5rem;
			  }
			}
		  }
		}
	  }
	}
  }
}

.description-container {
  font-size: 1rem;
  padding: 1rem 0 1rem 0;
  flex: 1;
  @media (max-width: 768px) {
	font-size: 0.8rem;
  }
}
