@use '../../variables';

button.show-password {
  @include variables.centered-column;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 5px;
  height: 2.375rem;
  width: 2.375rem;
  border: none;
  background: transparent;
  color: variables.$input-border-grey;
  box-shadow: none;
  display: flex;

  &:hover, &:focus, &:active {
    color: rgb(21,21,21);
  }

  &:focus-visible {
    outline: 1px solid black;
  }

  svg {
    height: 1.25rem;
    width: 1.25rem;
  }
}