@use '../../variables';

.register-container {
  @include variables.whole-page;
  @include variables.centered-column;
  justify-content: flex-start;
  position: relative;
  height: 100vh;

  .with-button {
    position: relative;

    button {
      position: absolute;
      right: 0;
      margin-right: 5px;
      bottom: 18px;
      height: 2.25rem;
      width: 2.25rem;
      border: none;
      background: transparent;
      color: variables.$input-border-grey;
      box-shadow: none;
      display: flex;
      @include variables.centered-column;

      &:hover, &:focus, &:active {
        color: rgb(21,21,21);
      }

      svg {
        height: 1.25rem;
        width: 1.25rem;
      }
    }
  }

  input[type="file"] {
    display: none;
  }

  .photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
    align-self: center;
    justify-self: center;

    img {
      width: 100%;
      height: auto;
    }
  }


  .forms-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25.25rem;
    height: 36.25rem;
    gap: 1.2rem;
    padding-top: 50px;

    .line {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    .description-container {
      height: 11rem !important;
      width: 100%;
      resize: none;
      padding-top: 0.5rem;
    }

    .submit-picture, .like-me-container {
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .like-me {
        margin-bottom: 0.5rem;
      }

      & > label, .like-me {
        @include variables.centered-column;
        background-color: variables.$main-pink;
        width: 12rem;
        height: 2rem;
        border: 1px solid variables.$main-pink;
        text-align: center;
        border-radius: 100px;
        cursor: pointer;
        box-shadow: variables.$default-button-shadow;
        transition: all 0.1s ease;
        color: white;

        &:hover {
          background-color: variables.$main-pink-80;
          box-shadow: variables.$upper-inset-shadow-hover;
          border-color: variables.$main-pink-80;
        }
        &:active {
          background-color: variables.$main-pink-20;
          box-shadow: variables.$upper-inset-shadow-click;
          border-color: variables.$main-pink-20;
        }
      }

    }

    .buttons-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: space-between;
      //position: relative;
      //bottom: 0;
      margin-top: auto;


      .next {
        background-color: variables.$button-green;
        border: 1px solid variables.$button-green;

        &:hover {
          background-color: variables.$button-green-80;
          //box-shadow: variables.$upper-inset-shadow-hover;
          border-color: variables.$button-green-80;
        }
        &:active {
          background-color: variables.$button-green-20;
          //box-shadow: variables.$upper-inset-shadow-click;
          border-color: variables.$button-green-20;
        }
      }

      .previous {
        background-color: variables.$button-yellow;
        border: 1px solid variables.$button-yellow;

        &:hover {
          background-color: variables.$button-yellow-80;
          //box-shadow: variables.$upper-inset-shadow-hover;
          border-color: variables.$button-yellow-80;
        }
        &:active {
          background-color: variables.$button-yellow-20;
          //box-shadow: variables.$upper-inset-shadow-click;
          border-color: variables.$button-yellow-20;
        }
      }
    }

    #tc-input {
      cursor: pointer;
      border-radius: 100px;
      font-size: 0.6rem;
      margin: 0;
      width: 1.25rem;
      height: 1.25rem;

      &:checked {
        accent-color: variables.$main-pink;
      }
    }

    #tc-label {
      font-size: 0.85rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;
    }
  }

  .exit-container {
    align-self: flex-start;
    margin-left: 2.5rem;
    margin-top: 1.5rem;



    .exit {
      width: 8.75rem;
      height: 2rem;
      color: white;
      background-color: variables.$button-red;
      border: 1px solid variables.$button-red;
      //box-shadow: variables.$default-button-shadow;
      border-radius: 100px;
      cursor: pointer;

      &:hover {
        background-color: variables.$button-red-80;
        //box-shadow: variables.$upper-inset-shadow-hover;
        border-color: variables.$button-red-80;
      }

      &:active {
        background-color: variables.$button-red-20;
        //box-shadow: variables.$upper-inset-shadow-click;
        border-color: variables.$button-red-20;
      }
    }
  }

  .account-creation {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  #have-account {
    display: block;
    position: absolute;
    bottom: 2rem;

    a {
      color: variables.$main-pink;

      &:hover {
        color: variables.$main-pink-80;
      }

      &:active {
        color: variables.$main-pink-20;
      }

    }
  }

  .error-line {
    width: 100%;
    color: red;
    height: 1rem;
    font-size: 0.7rem;

    .error-text {
      text-align: right;
      padding-right: 5px;
    }
  }

  .error {
    background-color: variables.$error-red;
    //border-color: variables.$input-border-dark-grey;
    //border-color: red;
    //color: white;

    &:focus {
      background-color: white !important;
      //color: black;
    }

  }

  .valid {
    background-color: variables.$valid-green;

    &:focus {
      background-color: white;
    }
  }
}